 .spinner {
  width: 56px;
  height: 56px;
  border: 11.2px #474bff double;
  border-left-style: solid;
  border-radius: 50%;
  animation: spinner-aib1d7 0.75s infinite linear;
}

@keyframes spinner-aib1d7 {
  to {
    transform: rotate(360deg);
  }
}

.spinner-cont {
  width: 100vw;             
  height: 100vh;             
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;                 
  padding: 0;
  box-sizing: border-box;   
}
